* {
    font-family: "IosevkaTermSlab Nerd Font Mono", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: #240c02;
    font-size: 1.2em;
    min-height: 0;
    border-radius: 0px;
    border: 3px solid #880c0c;
}

/* Left-most: Arch icon */
#custom-appmenu {
  background-image: url('/usr/share/icons/cachyos.svg');
  background-color: #620000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
    padding: 0px 32px;
  border-right: 2px solid #240c02;
  border-bottom: 3px solid #240c02;
}

/* Right-most: Clock */
#clock {
    font-weight: 800;
    color: #fdb33d;
    border-radius: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #880c0c;
    border-radius: 32px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

/* Active window title */
#window {
    font-weight: 800;
    color: #fdb33d;
    border-radius: 0px;
    padding: 0px 10px 0px 0px;
    background-color: #880c0c;
    border-radius: 32px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#custom-activewindow {
    font-weight: 800;
    color: #fdb33d;
    border-radius: 0px;
    padding: 0px 10px 0px 0px;
    background-color: #880c0c;
    border-radius: 32px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    min-width: 375px;
}

#custom-empty {
    color: #ffd000;
    background-color: #880c0c;
    min-width: 4px;
    padding: 0px 0px 0px 0px;
}

/* Workspace container */
#niri-workspaces {
    border-width: 0px;
}

/* Individual workspace buttons */
#niri-workspaces button {
    border-width: 0px;
    font-weight: 800;
    font-size: 1.3em;
    color:#e3bdb3;
}

#workspaces button.active {
    color: #ffeb99;
    border-width: 0px;
}

#workspaces button.inactive {
    color:#e3bdb3;
}

#workspaces button:hover {
    border-width: 0px;
    background: #ffcc00;
    color: #0f1117;
}

/* Power/exit button */
#custom-exit {
    background-color: #620000;
    font-weight: 800;
    color: rgb(255, 217, 0);
    padding: 0px 20px;
    border-left: 2px solid #240c02;
    border-bottom: 3px solid #240c02;
}

/* Tooltips */
tooltip {
    border-radius: 12px;
    background-color: rgb(69, 18, 3);
    color: #e3bdb3;
    padding: 4px 8px;
}

/* Taskbar */
#taskbar {
    background-color: #880c0c;
    margin: 0px;
    border-radius: 0px;
    font-weight: normal;
    padding-left: 10px;
}

/* All system info modules */
#backlight,
#pulseaudio,
#bluetooth,
#battery{
    background-color: #880c0c;
    font-weight: 800;
    color: #e3bdb3;
    border-radius: 0%;
    padding-right: 5px;
    padding-left: 5px
}

#tray{
    padding-left: 7px;
    padding-right: 14px;
    background-color: #880c0c;
}

#network,
#custom-updates,
#custom-notification {
    background-color: #880c0c;
    font-weight: 800;
    color: #e3bdb3;
    border-radius: 0px;
    padding: 0px 14px;
}

/* Battery critical warning */
#battery.critical:not(.charging) {
    background-color: #ff6200;
    color: #ffffff;
    animation: blink 0.5s linear infinite alternate;
    border-radius: 20%;
}

@keyframes blink {
    to {
        background-color: #0f1117;
        color: #ffffff;
    }
}
