@import "../omarchy/current/theme/waybar.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  font-weight: bold;
  min-height: 0px;
  min-width: 27px;
  padding-left: 0px;
  padding-top: 0px;
}

/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.empty #window {
  background: transparent;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: transparent;
  padding: 0;
  margin: 0;
}
#waybar.empty .modules-center {
opacity: 0;
}
/* --- Tooltip ---*/
tooltip {
  opacity: 1;
}

tooltip label {
  padding: 7px;
}

/* --- Modules ---*/

.modules-center {
  color: @foreground;
  margin: 0px;
  padding: 0px 0px;
  border-radius: 2px;
  opacity: 0.95;
  border: 2px solid alpha(@foreground, 0.8);
  background-color: alpha(@background, 0.9);
}

/* --- Center1 --- */
#center1{
border-radius: 4px;
opacity: 0.95;
border: 1px solid alpha(@foreground, 0.8);
background-color: alpha(@background, 0.9);
margin: 1px 1px;
padding: 0px 0px;
color: @foreground;
}

#idle_inhibitor, #custom-updatespacman, #custom-update {

}

#idle_inhibitor{
margin-left: -5px;
}


/* --- Workspaces (Center2) --- */
#center2{
margin: 0px 0px;
padding: 3px 2px;
background-color: @background;
color: @foreground;
border-radius: 2px;
}
#workspaces {
border: 1px solid alpha(@foreground, 0.8);
border-radius: 2px;
background-color: alpha(@background, 1);
opacity: 0.95;
}

#workspaces button {
padding: 0px 0px;
margin: 1px 0px;
border-radius: 2px;
background-color: alpha(@foreground, 0.5);
border: 1px solid alpha(@foreground, 0.8);
color: @background;
transition: all 0.3s ease-in-out;
opacity: 0.95;
}

#workspaces button.active {
color: @background;
background-color: alpha(@foreground, 0.9);
border-radius: 2px;
opacity: 1.0;
transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
background-color: alpha(@foreground, 0.4);
border: 1px groove alpha(@foreground, 0.9);
color: @foreground;
opacity: 0.45;
border-radius: 2px;
transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
color: @foreground;
border-radius: 2px;
opacity: 0.9;
background: linear-gradient(180deg, @background 75%, @foreground);
}


/* --- Center3 --- */
#center3{
padding: 2px 0px;
border: 1px solid alpha(@foreground, 0.8);
background-color: alpha(@background, 0.9);
border-radius: 2px;
color: @foreground;
}

#custom-weather {
font-size: 11px;
margin: 7px 0px 5px 0px;
}
#clock {
}
#clock.time {
margin: 0px 0px 5px 0px;
}
#clock.dateicon {
margin: 0px 0px 0px -2px;
}
#clock.date {
}
#clock.day {
margin: 0px 0px 7px 0px;
}


/* --- Center1 --- */
#center4{
padding: 2px 0px;
border: 1px solid alpha(@foreground, 0.8);
background-color: alpha(@background, 0.9);
border-radius: 2px;
color: @foreground;
}

#backlight {
margin: 7px 0px 0px 0px;
}
#backlight.percentage {
margin: 0px 0px 5px 0px;
}
#pulseaudio {
margin: 0px 0px 5px -1px;
}
#bluetooth {
margin: 0px 0px 5px 0px;
}
#network {
margin: 0px 0px 5px -3px;
}
#cpu {
}
#cpu.percentage {
margin: 0px 0px 5px 0px;
}
#battery {
}
#battery.percentage {
margin: 0px 0px 7px 0px;
}
