// color
layout {
  border {
    active-color "#cac1ea"
  }

  insert-hint {
    color "#ffb4ab"
  }

  tab-indicator {
    active-color "#8fcef3"
  }


//  shadow {
//    color "rgba(0, 0, 0, 0.7)"
//  }

//  background-color "#e4b7f3"
}

//overview {
//  backdrop-color "#fff7fb"
//}

//window-rule {
//  match is-floating=true

//  border {
//    active-color "#D3C6AA"
//  }
//}
