:root {
--color00: #212401;
--color01: #212401;
--color02: #212401;
--color03: #deded3;
--color04: #f3f4f1;
--color05: #f3f4f1;
--color06: #f3f4f1;
--color07: #f3f4f1;
--color08: #c09559;
--color09: #cfc877;
--color0A: #e9e5b9;
--color0B: #cdb56a;
--color0C: #93cd6a;
--color0D: #b5cf68;
--color0E: #b8d68f;
--color0F: #d9b582;
}
