    /**
    * @name Omarchy
    * @author @bypass_
    * @version 0.1.0
    * @description Match Omarchy system theme.
    * @source https://github.com/imbypass/base16-Discord
    **/
    @import url("https://imbypass.github.io/base16-discord/omarchy-discord.theme.css");

    :root {
        --color00: #181911;
        --color01: #181911;
        --color02: #181911;
        --color03: #deded3;
        --color04: #f3f4f1;
        --color05: #f3f4f1;
        --color06: #f3f4f1;
        --color07: #f3f4f1;
        --color08: #f3f4f1;
        --color09: #cfc877;
        --color10: #e9e5b9;
        --color11: #cdb56a;
        --color12: #93cd6a;
        --color13: #b5cf68;
        --color14: #b8d68f;
        --color15: #cfc877;
    }
