@import "./colors.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

#custom-cachy,
#clock,
#cpu,
#idle_inhibitor,
#custom-updates,
#mpris,
#custom-menu,
#tray,
#network,
#bluetooth,
#pulseaudio,
#pulseaudio.microphone,
#backlight,
#battery,
#power-profiles-daemon {
  color: @primary;
  padding: 6px 0px 0px 0px;
  background-color: alpha(@on_primary_fixed,0.9);    
}

/* --------------------------------------------------- */
#custom-cachy {
  color: @tertiary;
  border-radius: 20px 20px 0px 0px;
}

#clock {
  color: @tertiary;
  margin: 0px 0px 0px -2px;
}
/* #clock.date {
  color: @primary;
} */
#clock.day {
  color: @secondary;
}

#cpu {
  margin: 0px 0px 0px -2px;
}
#cpu.percentage {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px -2px;
}

#idle_inhibitor {
  padding: 6px 0px 16px 0px;
  margin: 0px 0px 0px -2px;
  border-radius: 0px 0px 20px 20px;
  background-color: alpha(@on_primary_fixed,0.9);
}
#idle_inhibitor.activated {
  color: @error;
}
#idle_inhibitor.deactivated {
  color: @primary;
}

#custom-updates.icn {
  padding: 4px 0px 0px 0px;
  margin: 0px 0px 0px -2px;
  color: @error;
  border-radius: 20px 20px 0px 0px;
  background-color: alpha(@on_primary_fixed,0.9);
}
#custom-updates {
  padding: 0px 0px 2px 1px;
  margin: 0px 0px 0px -3px;
  color: @error;               /*@color1;  red*/
  border-radius: 0px 0px 20px 20px;
  background-color: alpha(@on_primary_fixed,0.9);
}

/* --------------------------------------------------- */
#mpris {
  color: @secondary;
  background-color: transparent;
}

#workspaces {
/*  border: 1px solid alpha(@on_surface, 0.8);
  border-radius: 2px;
  opacity: 0.95;
*/
  background-color: transparent;
}
  

#workspaces button {
  padding: 6px 0px 6px 0px;
  margin: 0px 0px 1px 0px;
  border-radius: 20px;
  color: alpha(@on_surface, 0.85);
  background-color: alpha(@on_primary, 0.8);
  border: 1px solid alpha(@on_surface, 0.8);
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}
#workspaces button.empty {
  /* border-radius: 16px; */
  color: alpha(@error, 0.7);
  background-color: @on_primary_fixed;
  border: 1px groove alpha(@on_surface, 0.9);
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
#workspaces button.active{
  /* border-radius: 8px; */
  color: alpha(@on_primary_fixed, 0.9);
  background-color: alpha(@primary, 0.9);
  border: 1px groove alpha(@primary, 0.9);
  transition: all 0.3s ease-in-out;
  opacity: 1.0;
}
#workspaces button.default {
  color: @primary;
}
#workspaces button:hover {
  /* border-radius: 8px; */
  color: @on_surface;
  background: linear-gradient(180deg, @surface 75%, @on_surface);
  opacity: 0.9;
}

/* --------------------------------------------------- */
#custom-menu {
  margin: 0px 0px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}

#tray {
  border-radius: 20px 20px 20px 20px;
  padding: 8px 0px 8px 0px;
  margin: 0px 0px 0px 0px;
}

#network {
  padding: 2px 0px 0px 0px;
}
#network.disabled {
  color: @error;  /*red*/
}
#network.wifi {
  color: @tertiary;  /*green*/
}
#network.ethernet {
  color: @primary;  /*yellow*/
}

#bluetooth {
  padding: 6px 0px 6px 0px;
}
#bluetooth.disabled {
  color: @error;  /*red*/
}
#bluetooth.connected {
  color: @secondary;  /*blue*/
}

#pulseaudio {
  color: @primary;
  padding: 0px 0px 0px 0px;
}
#pulseaudio.sink-muted:not(.microphone) {
  color: @tertiary;  /*yellow*/
}
#pulseaudio.microphone {
  margin: 0px 0px -3px 0px;
}
#pulseaudio.microphone.source-muted {
  color: @error;  /*red*/
}
#pulseaudio.volume {
  padding: 0px 0px 2px 0px;
  margin: -3px 0px 0px 0px;
}

#backlight.{
  color: @secondary;
}
#backlight.percentage {
  padding: 0px 0px 5px 0px;
  margin: -1px 0px 0px 0px;
}


#pulseaudio-slider,
#backlight-slider {
  min-height: 80px;
  background-color: alpha(@on_primary_fixed,0.9);  
}
#pulseaudio-slider slider,
#backlight-slider slider {
}
#pulseaudio-slider trough,
#backlight-slider trough {
  min-width: 8px;
}
#pulseaudio-slider highlight {
  background: @primary;
}
#backlight-slider highlight {
  background: @secondary;
}

#battery {
  padding: 0px 0px 0px 0px;
  /* color: @tertiary; */
}
#battery.plugged {
  color: @tertiary;  /*blue*/
}
#battery.charging {
  color: @secondary;  /*green*/
}
#battery.critical {
  color: @error;  /*red*/
}
#battery.percentage {
  padding: 0px 0px 8px 0px;
  margin: -1px 2px 0px 0px;
}

#power-profiles-daemon {
  padding: 12px 0px 6px 0px;
  margin: 0px 0px 0px -2px;
}
#power-profiles-daemon.performance {
  color: @secondary;   /* @color1;  red*/
}
#power-profiles-daemon.balanced {
  color: @primary;    /* @color2;  green*/
}
#power-profiles-daemon.power-saver {
  color: @tertiary;   /* @color3;  yellow*/
}


/* --------------------------------------------------- */
tooltip {
  background: @background;
  border: 1px solid @foreground;
}
tooltip * {
  color: @foreground;
  margin: 2px;
  background: @background;
}
