:root {
    --color00: {background};
    --color01: {background};
    --color02: {background};
    --color03: {color0};
    --color04: {color8};
    --color05: {foreground};
    --color06: {color8};
    --color07: {color8};
    --color08: {color1};
    --color09: {color2};
    --color0A: {color10};
    --color0B: {color3};
    --color0C: {color4};
    --color0D: {color5};
    --color0E: {color6};
    --color0F: {color9};
}
