* {
    background:     #0E2D3C;
    background-alt: #2B0003;
    foreground:     #FFFFFE;
    selected:       #7393A4;
    border:         #639AB8;
    active:         #445963;
    urgent:         #5D3A3D;
}
