[Desktop Entry]
Version=1.0
Name=notion
Comment=notion
Exec=omarchy-launch-webapp https://notion.so
Terminal=false
Type=Application
Icon=/home/kei/.local/share/applications/icons/notion.png
StartupNotify=true
